<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApplicationGestionCommerciale.Properties.Settings.gestioncommercialeConnectionString"
            connectionString="server=localhost;User Id=root;password=freedomity;Persist Security Info=True;database=gestioncommerciale"
            providerName="MySql.Data.MySqlClient" />
        <add name="ApplicationGestionCommerciale.Properties.Settings.gestion_commerciale_dbConnectionString"
            connectionString="User Id=root;Host=127.0.0.1;Database=gestion_commerciale_db"
            providerName="Devart.Data.MySql" />
        <add name="ApplicationGestionCommerciale.Properties.Settings.gestioncommercialeConnectionString1"
            connectionString="User Id=root;Host=localhost;Database=gestioncommerciale"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
</configuration>